
html,
body {
	/*background-color: #fcffee;*/
	background-color: #fdfddd;
	margin: 0;
	padding: 0;
	font-family: arial;
}

strong {
	font-weight: bold;
}

h2 {
	font-size: 20pt;
	letter-spacing: 1px;
	font-variant: small-caps;
	color: #380000;
	margin: 10px 20px;
}

h3 {
	font-size: 14pt;
	font-weight: bold;
	margin: 20px 2.5px;
}

a { 
	color: #0c3b38;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
	background: url('../images/bgo.png') repeat-y;
}

#content-box {
	position: relative;
	left: 0px;
	width: 730px;
	padding: 0;
	margin-left: 165px;
}

.text1 {
	position: relative;
	left: 3em;
	margin: 20px 0;
	padding: 0;
	font-size: 10pt;
	width: 550px;
	color: #232323;
}

.text1 li {
	margin: 5px 20px;
	list-style-type: disc;
}