
/*
	need to use for IE8
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
*/

/* default style */
ul.menu, ul.menu ul, ul.menu li 
{
	margin: 0;
	padding: 0;
	list-style: none;
}

/* ----- STYLE ---- */

/* menu */
ul.menu 
{
}

/* menu entry */
ul.menu > li
{
	position: relative;
	float: left;
	display: block;
}

/* menu entry link */
ul.menu > li > a,
ul.menu > li:hover > a:link,
ul.menu > li:hover > a:visited
{
	text-decoration: none;
	
}

/* submenu */
ul.menu > li > ul
{
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	display: none;
}

/* submenu entry */
ul.menu > li > ul > li
{
	position: relative;
	font-size: smaller;
	min-width: 100px;
}

/* submenu entry link */
ul.menu > li > ul > li > a,
ul.menu > li > ul > li > a:link,
ul.menu > li > ul > li > a:visited
{
	text-decoration: none;
	min-width: 100%;
	color: auto;
}

/* subsubmenu */
ul.menu > li > ul > li > ul
{
	position: absolute;
	top: 0px;
	left: 70px;
	min-width: 100px;
	display: none;
}

/* subsubmenu entry */
ul.menu > li > ul > li > ul > li
{
	position: relative;
	min-width: 100px;
}

/* subsubmenu entry link */
ul.menu > li > ul > li > ul > li > a,
ul.menu > li > ul > li > ul > li > a:link,
ul.menu > li > ul > li > ul > li > a:visited
{
	text-decoration: none;
	min-width: 100%;
	color: auto;
}

/* ----- ON HOVER ----- */

/* menu entry on hover -> submenu */
ul.menu > li:hover > ul
{
	display: block;
}

/* submenu entry on hover -> subsubmenu */
ul.menu > li > ul > li:hover > ul
{
	display: block;
}

/* menu entry on hover -> menu entry */
ul.menu > li:hover
{
	
}

/* submenu entry on hover -> submenu entry */
ul.menu > li > ul > li:hover
{
	background-color: blue;
}

/* subsubmenu entry on hover -> subsubmenu entry */
ul.menu > li > ul > li > ul > li:hover
{
	background-color: blue;
}