
ul.menu > li {
	padding: 2px 20px 3px 20px;
	color: #fff3f3;
	font-family: arial;
	font-size: 11pt;
	min-width: 60px;
}

ul.menu > li > ul {
	/*background-color: #e1ffb6;*/
	background-color: #ffe9cf;
	/* ff9797 */
	min-width: 150px;
	/*filter: alpha(opacity=90);*/
	-moz-opacity: .95;
	KhtmlOpacity: .95;
	opacity: .95;
	/*
	border-left: 2px solid #8dae0a;
	border-right: 1px solid #8dae0a;
	border-bottom: 2px solid #8dae0a;
	*/
	border-left: 2px solid #380000;
	border-right: 1px solid #380000;
	border-bottom: 2px solid #380000;
}

ul.menu > li > ul > li {
	padding: 5px 10px;
}

ul.menu > li  > a {
	color: white;
}

ul.menu > li > ul > li {
	font-size: 10pt;
}

ul.menu > li > ul > li > a {
	color: #380000;
}

ul.menu > li:hover.menu-entry {
	color: #380000;
	background-color: #ffbf74;
	/*filter: alpha(opacity=90);*/
	-moz-opacity: .95;
	KhtmlOpacity: .95;
	opacity: .95;
	min-width: 60px;
}

ul.menu > li:hover.menu-entry-final a {
	color: white;
	text-decoration: underline;
}

ul.menu > li:hover > a {
	color: #380000;
}

ul.menu > li > a:hover {
	color: #380000;
}

ul.menu > li > ul > li:hover {
	background-color: #ffd29d;
}